header{
    border: 1px solid red;
    height: 80px;
    width: 100%;
}
aside{
    border: 1px solid green;
    height: 705px;
    width: 29%;
    display: inline-block;
    margin-top: 5px;
}
#content{
    float: right;
    width: 70%;
}
nav{
    border: 1px solid blue;
    height: 150px;
    width: 100%;
    margin-top: 5px;
}
article{
    border: 1px solid yellow;
    height: 548px;
    width: 100%;
    margin-top: 5px;
}
footer{
    border: 1px solid purple;
    height: 80px;
    width: 100%;
    margin-top: 5px;
}