.boxs{
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
}
.box2{
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 1em;
    text-align: center;
    border: 3px solid green;
    padding-top: 10px;
}
.solid{
    border-style: solid;
    border-width: 5px;
}
.discontinuo{
    border-style: dashed;
    border-width: 2px;
}
.verd{
    border-color: green;
}
.blau{
    border-color: blue;
}
.vermell{
    border-color: red;
}
p{
    padding: 10px;
    margin: 0px;
}