body{
    background-image: url(../img/fons.jpg);
    margin: 0;
}
#boto1{
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: right;
    padding-top:35px;
    padding-bottom:35px;
    padding-left:55px;
    border-color: black;
}
button.uno{
    background-color: rgb(73, 73, 73);
    color: white;
    border-radius: 40px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: middle;
    border: none;
    margin-left: 400px;
    margin-top: -40px;
}
button.dos{
    background-color: #33DCFF;
    color: white;
    border-radius: 40px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:55px;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    margin-top: -40px;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: 3px
}
h1{
    width: 700px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedor3{
    width: 100%;
    height: 180px;
    background-color: rgb(73, 73, 73);
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
img{
    width: 150px;
    height: 140px;
    border-radius: 100%;
    margin: 20px;
    margin-bottom: 5px;
}
div.rodones>p{
    text-align: center;
    color: white;
}
div.icones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
    margin-top: 5px;
}
i{
    margin: 3px;
}
p{
    text-align: center;
    margin-top: 1px;
}
@media (max-width: 600px){
    .contenedor{
        display: block;
    }
    .contenedor3{
        flex-direction: column;
        height: 600px;
    }
}